*.dat
*.nc
*.gz
*.png
*.exe
*.eps
*.gif
*.bat
*.txt
*.pdf
C:\Users\oa18724\Documents\Master_PhD_folder\MDT-Calculations\cs_params.txt
C:\Users\oa18724\Documents\Master_PhD_folder\MDT-Calculations\parameters.txt
*.zip

.vscode/
__pycache__/
Experiments/
projection_experiments.py
figs/